@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --darkColor: #ffffff;
  --textColor: #000000;
  --primary-color: #05a64a;
}

body,
html {
  margin: 0;
  height: 100vh;
  color: var(--textColor);
  background: var(--darkColor);
  transition: color 0.5s, background-color 0.5s;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  width: 100%;
  height: 100%;
}

button {
  background-color: var(--primary-color);
  padding: 5px 10px 5px 10px;
  border-radius: 25px;
  min-width: 70px;
  color: white;
  cursor: pointer;
}

button:disabled {
  background-color: #90969b;
}

input[type="text"],
input[type="date"] {
  padding: 10px;
  border: 1px solid rgb(145, 145, 145);
  border-radius: 20px;
  width: 100%;
}

select,
textarea {
  width: 100%;
  padding: 14px;
  border-radius: 20px;
  background-color: white;
  border: 1px solid rgb(145, 145, 145);
}

input:focus,
select:focus,
textarea:focus {
  outline: 1px solid var(--primary-color);
}

input[type="checkbox"]:focus {
  outline: none;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  outline: 1px solid #90969b;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.3em;
  height: 1.3em;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 1.3em;
  height: 1.3em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--primary-color);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}
